.canvas {
	-fx-background-color: #f3f3f3;
}

.controls {
	-fx-background-color: #e2e2e2;
	-fx-border-style: solid hidden hidden hidden;
	-fx-border-width: 1;
	-fx-border-color: black;
}

.pane {
	-fx-padding: 8;
	-fx-background-color: rgb(185, 185, 185);
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
}

.paneName {
	-fx-font-size: 14;
	-fx-font-weight: bold;
}

.text-field {
	-fx-background-color: rgba(255, 255, 255, 0.5);
}

.button {
	-fx-background-color: rgba(255, 255, 255, 0.5);
}

.marble {
	-fx-fill: rgb(0, 0, 0);
}

.rectangle {
	-fx-fill: rgb(44, 44, 44);
}

.shape:hover {
	-fx-fill: rgb(68, 68, 180);
}

.selected {
	-fx-fill: rgb(49, 49, 112);
}

.pendulum {
	-fx-fill: rgb(0, 0, 0);
}

.line {
	-fx-stroke: rgb(0, 0, 0);
	-fx-stroke-width: 5;
	-fx-stroke-line-join: round;
	-fx-stroke-line-cap: round;
}
